.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.page{
    padding-top: 40px;
    padding-bottom: 110px; 
    overflow: hidden;
}

.main-title{
    font-size: 30px;
    font-weight: 700;
    line-height: 37px;
    span{
        font-weight: 300;
    }
    @media(max-width: 480px){
        font-size: 24px;
    }
}

.section-title{
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

}

.breadcrumbs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px 0;

    &__link{
        position: relative;
        display: flex;
        align-items: center;
        font-size: 12px;
        font-weight: 300;
        line-height: 15px;
        color: #000;
        &:after{
            content: '/';
            display: block;
            margin: 0 20px;
        }
    }

}

.product-preview{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: all .3s;

    &__imagebox{
        position: relative;
        flex-shrink: 0;
        height: 282px;
        padding: 37px 31px;
    }
    
    &__img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    
    &__info{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 20px;
    }
    
    &__name{
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        color: #000;
    }

    &__article{
        display: block;
        margin-top: 10px;
        margin-bottom: 28px;
        font-size: 12px;
        font-weight: 300;
        line-height: 14px;
        color: #000;
    }
    
    &__price{
        margin-top: auto;
        font-size: 24px;
        font-weight: 700;
        line-height: 30px;
        color: #000;
    }

    &__rating{
        position: absolute;
        top: 0;
        right: 0;
        width: 138px;
        height: 40px;
        padding: 0 18px;
        background: #EBF4FC;
        border-radius: 0 0 0 10px;
    }

    &:hover{
        box-shadow: 6px 6px 60px rgba(0, 0, 0, 0.1);
        .product-preview__name{
            color: var(--blue);
        }
    }
}

.rating{
    display: flex;
    align-items: center;

    &__stars{
        display: flex;
        gap: 5px;
    }

    &__star{
        width: 12px;
        &.is-empty{
            opacity: .3;
        }
    }

    &__quantity{
        margin-left: 5px;
        color: #000;
    }
}

.button{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 60px;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    border-radius: 10px;
    background: #27254D;
    overflow: hidden;
    transition: all .3s;
    span{
        position: relative;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #6AA9DF 0%, #231E46 100%);
        transition: all .3s ease-in;
    }
    &:hover:before{
        opacity: 0;
    }
}

.fixed-text{
    position: fixed;
    left: 29px;
	top: 184px;
    font-size: 100px;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--blue);
    opacity: 0.07;
    transform: scale(-1);
	writing-mode: vertical-lr;
    @media(max-width: 960px){
        display: none;
    }
}

.products-carousel{
    overflow: visible;
    .swiper-slide{
        opacity: 0;
        transition: all .3s;
    }

    .swiper-slide-active,
	.swiper-slide-active + .swiper-slide,
	.swiper-slide-active + .swiper-slide + .swiper-slide,
	.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide{
		opacity: 1;
	}

    .slider-navigation{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 30px;
        .swiper-pagination-bullet{
            width: 8px;
            height: 8px;
            margin: 0 !important;
            border-radius: 30px;
            background: rgba(46, 121, 189, 0.5);
            opacity: 1;
            transition: all .3s;
        }
        .swiper-pagination-bullet-active{
            width: 46px;
            background: #2E79BD;
        }
    }
}