<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Bestway | О компании
	body

		include ./../sections/_header.pug

		.container 
			+breadcrumbs({'items': ['Главная', 'О компании']}) 

		main.page.about 

			.fixed-text о нас

			.container 
				.about__content 
					img.about__img(src="img/about.webp", alt="@")
					h1.main-title О компании
					br
					| Bestway - лидер на рынке товаров для активного отдыха и спорта! Наша компания производит уникальную продукцию. Мы единственные на рынке даем возможность нашим клиентам развивать тело и дух, создавая условия для приятного и полезного времяпрепровождения.
					br
					br
					| Bestway, как транснациональная компания, динамично растет и соответствует всем мировым стандартам. Мы работаем с лучшими поставщиками сырья, инфраструктура компании и логистика развиты на высочайшем уровне. Начиная свой путь от мастерской в Шанхае, сегодня наши заводы, фабрики и технологические центры находятся на 6 мировых континентах. В 110 странах люди занимаются самым разнообразным спортом и отдыхают вместе с продукцией компании Bestway. Для того, чтобы обеспечить удовольствие нашим клиентам во всех отделах компании работают квалифицированные специалисты, которые постоянно разрабатывают новые уникальные технологии и совершенствуют уже существующие.
					br
					br
					| Bestway предлагает широкую линейку товаров в категориях SPA оборудования, водных видов спорта, зимних активностей и туристического снаряжения. Также мы производим большое количество товаров для спортивного развития и обучения детей. Мы реализуем сотни тысяч единиц нашей продукции ежегодно через наших партнеров. Продукция Bestway – это каркасные бассейны и SUP доски, лодки и каяки, туристические палатки и надувные сани. Выпуская такое большое разнообразие товаров, мы поддерживаем многие виды спорта и активного отдыха. Bestway делает доступными даже самые экстремальные начинания. Приобрести продукцию компании Bestway можно у наших партнеров.
					br
					br
					| При таком широком производстве Bestway старается минимизировать негативное влияние на экологию. Частично используются альтернативные виды энергии, самостоятельно производится солнечная энергия, а изготовление и упаковка продукции осуществляются по экологичным технологиям. Каждый год Bestway использует 25 тысяч тонн переработанных материалов, не давая им отправится на свалку. Используя продукцию нашего бренда и сотрудничая с нами, каждый делает осознанный шаг в поддержку лучшего будущего для всех.
					br
					br
					| На протяжении долгого времени Bestway призывает людей вести активный и здоровый образ жизни. Нам доверяют свое здоровье и свободное время, а мы, в свою очередь, оправдываем это доверие качеством нашей продукции. Задача нашей компании в том, чтобы сделать яркий и качественный отдых доступным для всех. Bestway - это именно тот бренд, который поддержит любовь к приключениям и экстриму.


				div(style="clear:both")

				.about__section 
					h6.section-title Новые поступления
					p.catalog__info Апрель 2023
					.swiper.products-carousel.about__slider.js-catalogSlider 
						.swiper-wrapper
							+productPreview('product-13.jpg', 'Фильтр-насос', 'Артикул: 58381(H1)ASS18', '1 300')
							+productPreview('product-14.jpg', 'Чаша для 57266', 'Артикул: 58381(H1)ASS18', '2 900')
							+productPreview('product-13.jpg', 'Фильтр-насос', 'Артикул: 58381(H1)ASS18', '1 300')
							+productPreview('product-14.jpg', 'Чаша для 57266', 'Артикул: 58381(H1)ASS18', '2 900')
							+productPreview('product-14.jpg', 'Чаша для 57266', 'Артикул: 58381(H1)ASS18', '2 900')
						.slider-navigation

		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug