<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Bestway | Статья
	body

		include ./../sections/_header.pug

		.container 
			+breadcrumbs({'items': ['Главная', 'Блог']}) 

		main.page.article 

			.fixed-text новости

			.container

				h1.main-title.article__title 
					span Здесь будет название новости 
					br
					| в 1 или 2 строки

				.article__content
					figure.article-foto 
						.post-hashtag Обзор
						img.article-foto__img(src="img/article.jpg", alt="@")
					p 
						| Фильтр-насос - это устройство, которое используется для очистки воды в бассейнах и прудах. Он состоит из насоса, который прокачивает воду через фильтрную систему, и фильтра, который удаляет загрязнения из воды.
						br
						br
						| Фильтр-насос может быть механическим или химическим. Механический фильтр-насос использует фильтр, чтобы удерживать загрязнения, такие как листья, песок и трава. Химический фильтр-насос использует химические вещества, такие как хлор, чтобы убить бактерии и другие микроорганизмы в воде.
						br
						br
						| Фильтр-насосы могут иметь разные скорости и мощности. Выбор фильтр-насоса зависит от размера бассейна или пруда, а также от количества загрязнений, которые нужно удалить. Например, для больших бассейнов или прудов может потребоваться более мощный фильтр-насос.
						br
						br
						| Важно периодически чистить фильтр-насос, чтобы он мог продолжать работать эффективно. Некоторые фильтр-насосы имеют автоматическую очистку, которая происходит каждые несколько недель. Однако, если у вас нет автоматической очистки, то вам нужно будет регулярно очищать фильтр-насос вручную.
						br
						br
						| Надеемся, это помогло вам понять, что такое фильтр-насос и как он работает. Если у вас есть какие-либо вопросы, пожалуйста, свяжитесь с нашей службой поддержки.
						br
						br
						| Кроме того, при выборе фильтр-насоса необходимо обратить внимание на материал, из которого он изготовлен. Некоторые фильтры могут быть сделаны из пластика, а другие - из нержавеющей стали или других материалов. Выбор материала зависит от условий эксплуатации и предпочтений владельца бассейна.
				
				div(style="clear:both")
				
				.article__nav 
					a.article__btn.article__btn--prev(href="#") Предыдущая запись
					a.article__btn.article__btn--next(href="#") Следующая запись


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug