<!DOCTYPE html>
html(lang="ru")
	head
		include ./../sections/_head.pug
		title Bestway | Карточка товара
	body

		include ./../sections/_header.pug

		.container 
			+breadcrumbs({'items': ['Главная', 'Каталог товаров', 'SUP-доски']}) 

		main.page.product 

			.fixed-text SUP-борд

			.container

				h1.main-title Набор для надувного SUP-борда Hydro-Force™ #[br] HuaKa’i Tech Inflatable Stand-Up Paddleboard Set

				.product__box 
					
					.product__gallery
						figure.product-foto
							img.product-foto__img(src="img/product-main.jpg", alt="@")
						.product-thumbnails 
							each item in ['product-main.jpg','product-2.jpg','product-3.jpg','product-4.jpg']
								figure.product-thumbnails__item 
									img.product-thumbnails__img.js-galleryProduct(src="img/" + item, alt="@")
					
					.product__description
						.rating 
							.rating__stars
								each item, i in [1, 2, 3, 4, 5]
									if(i == 4)
										img.rating__star.is-empty(src="img/icon-star.svg", alt="star")
									else 
										img.rating__star(src="img/icon-star.svg", alt="star")
						span.product__article Артикул: 65330
						.product__content 
							p
								| Покоряй любые водоемы вместе с портативным и прочным набором Hydro-Force™ HuaKa’i Tech Set. Такая доска относится к категории универсальных SUP-бордов. Её преимущества - высокая маневренность и легкость, что делает этот SUP идеальным для катания на спокойной воде и на небольших волнах.
								br
								br
								| А главная особенность данного SUP в том, что благодаря широкой конструкции и высокой устойчивости такая доска идеально подойдет для катания с любимым питомцем! Материал доски, образующий внутреннюю часть SUP-борда изготовлен по технологии Drop Stitch, что делает его очень прочным и долговечным, сохраняя при этом легковесность. А материал поверхности Tritech™ выдерживает вес в 140 кг, напряжение и движение, а также защищает от УФ-лучей.
								br
								br
								| HuaKa’i Tech имеет 2 закрепленных плавника и 1 съемный, что обеспечивает маневренное и гладкое скольжение по воде, а также удобное и компактное хранение. Когда вы будете готовы использовать Hydro-Force™ HuaKa’i Tech Set, просто надуйте доску за считанные минуты с помощью прилагаемого ручного насоса. Всё, вы готовы к незабываемому отдыху!
							.product__buy
								span.product__price 
									output 1 300 
									| руб
								+button('Проверить наличие', 'product__button')

			.product__info 
				.tabs
					.tabs__header
						.container
							.tabs__buttons
								each item in ['Описание','Характеристики','Инструкции и сертификаты','Условия доставки']
									button.tabs__button= item

					.container
						.tabs__contents 

							.tabs__content
								.product__content.content 
									p
										| ОПИСАНИЕ Покоряй любые водоемы вместе с портативным и прочным набором Hydro-Force™ HuaKa’i Tech Set. Такая доска относится к категории универсальных SUP-бордов. Её преимущества - высокая маневренность и легкость, что делает этот SUP идеальным для катания на спокойной воде и на небольших волнах.
										br
										br
										| А главная особенность данного SUP в том, что благодаря широкой конструкции и высокой устойчивости такая доска идеально подойдет для катания с любимым питомцем! Материал доски, образующий внутреннюю часть SUP-борда изготовлен по технологии Drop Stitch, что делает его очень прочным и долговечным, сохраняя при этом легковесность. А материал поверхности Tritech™ выдерживает вес в 140 кг, напряжение и движение, а также защищает от УФ-лучей.
										br
										br
										| HuaKa’i Tech имеет 2 закрепленных плавника и 1 съемный, что обеспечивает маневренное и гладкое скольжение по воде, а также удобное и компактное хранение. Когда вы будете готовы использовать Hydro-Force™ HuaKa’i Tech Set, просто надуйте доску за считанные минуты с помощью прилагаемого ручного насоса. Всё, вы готовы к незабываемому отдыху!
										br
										br
									h4 Характеристики
									br
									ul
										each item in ['Подходит для бассейнов диаметром 305 - 366 см','Производительность - 1249 литров в час. ','Размер 21.3х43.1х31.7см','Вес 1,95 кг','Упаковка 21.3 х 43.1 см','Характеристики и комплектация могут быть изменены производителем без предварительного уведомления.']
											li= item

							.tabs__content
								.product__content.content
									p
										| ХАРАКТЕРИСТИКИ 1234 Покоряй любые водоемы вместе с портативным и прочным набором Hydro-Force™ HuaKa’i Tech Set. Такая доска относится к категории универсальных SUP-бордов. Её преимущества - высокая маневренность и легкость, что делает этот SUP идеальным для катания на спокойной воде и на небольших волнах.
										br
										br
										| А главная особенность данного SUP в том, что благодаря широкой конструкции и высокой устойчивости такая доска идеально подойдет для катания с любимым питомцем! Материал доски, образующий внутреннюю часть SUP-борда изготовлен по технологии Drop Stitch, что делает его очень прочным и долговечным, сохраняя при этом легковесность. А материал поверхности Tritech™ выдерживает вес в 140 кг, напряжение и движение, а также защищает от УФ-лучей.
										br
										br
										| HuaKa’i Tech имеет 2 закрепленных плавника и 1 съемный, что обеспечивает маневренное и гладкое скольжение по воде, а также удобное и компактное хранение. Когда вы будете готовы использовать Hydro-Force™ HuaKa’i Tech Set, просто надуйте доску за считанные минуты с помощью прилагаемого ручного насоса. Всё, вы готовы к незабываемому отдыху!
										br
										br
									h4 Характеристики
									br
									ol 
										each item in ['Подходит для бассейнов диаметром 305 - 366 см','Производительность - 1249 литров в час. ','Размер 21.3х43.1х31.7см','Вес 1,95 кг','Упаковка 21.3 х 43.1 см','Характеристики и комплектация могут быть изменены производителем без предварительного уведомления.']
											li= item

							.tabs__content
								.product__content
									p
										| ИНСТРУКЦИИ asdfasdf Покоряй любые водоемы вместе с портативным и прочным набором Hydro-Force™ HuaKa’i Tech Set. Такая доска относится к категории универсальных SUP-бордов. Её преимущества - высокая маневренность и легкость, что делает этот SUP идеальным для катания на спокойной воде и на небольших волнах.
										br
										br
										| А главная особенность данного SUP в том, что благодаря широкой конструкции и высокой устойчивости такая доска идеально подойдет для катания с любимым питомцем! Материал доски, образующий внутреннюю часть SUP-борда изготовлен по технологии Drop Stitch, что делает его очень прочным и долговечным, сохраняя при этом легковесность. А материал поверхности Tritech™ выдерживает вес в 140 кг, напряжение и движение, а также защищает от УФ-лучей.
										br
										br
										| HuaKa’i Tech имеет 2 закрепленных плавника и 1 съемный, что обеспечивает маневренное и гладкое скольжение по воде, а также удобное и компактное хранение. Когда вы будете готовы использовать Hydro-Force™ HuaKa’i Tech Set, просто надуйте доску за считанные минуты с помощью прилагаемого ручного насоса. Всё, вы готовы к незабываемому отдыху!
							
							.tabs__content
								.product__content
									p
										| УСЛОВИЯ 1234asdfasdf Покоряй любые водоемы вместе с портативным и прочным набором Hydro-Force™ HuaKa’i Tech Set. Такая доска относится к категории универсальных SUP-бордов. Её преимущества - высокая маневренность и легкость, что делает этот SUP идеальным для катания на спокойной воде и на небольших волнах.
										br
										br
										| А главная особенность данного SUP в том, что благодаря широкой конструкции и высокой устойчивости такая доска идеально подойдет для катания с любимым питомцем! Материал доски, образующий внутреннюю часть SUP-борда изготовлен по технологии Drop Stitch, что делает его очень прочным и долговечным, сохраняя при этом легковесность. А материал поверхности Tritech™ выдерживает вес в 140 кг, напряжение и движение, а также защищает от УФ-лучей.
										br
										br
										| HuaKa’i Tech имеет 2 закрепленных плавника и 1 съемный, что обеспечивает маневренное и гладкое скольжение по воде, а также удобное и компактное хранение. Когда вы будете готовы использовать Hydro-Force™ HuaKa’i Tech Set, просто надуйте доску за считанные минуты с помощью прилагаемого ручного насоса. Всё, вы готовы к незабываемому отдыху!

			.container
				.product-more
					h6.product-more__title Смотрите также
					.swiper.products-carousel.product-more__slider.js-catalogSlider 
						.swiper-wrapper
							+productPreview('product-15.jpg', 'Надувной SPA-бассейн с гидромассажной ванной для 2-4 человек Lay-Z-Spa™ Cancun AirJet™', 'Артикул: 54286', '1 300')
							+productPreview('product-16.jpg', 'Надувной SPA-бассейн с гидромассажной ванной для 2-4 человек Lay-Z-Spa™ Cancun AirJet™', 'Артикул: 54286', '1 300')
							+productPreview('product-17.jpg', 'Надувной SPA-бассейн с гидромассажной ванной для 2-4 человек Lay-Z-Spa™ Cancun AirJet™', 'Артикул: 54286', '1 300')
							+productPreview('product-18.jpg', 'Надувной SPA-бассейн с гидромассажной ванной для 2-4 человек Lay-Z-Spa™ Cancun AirJet™', 'Артикул: 54286', '1 300')
							+productPreview('product-19.jpg', 'Надувной SPA-бассейн с гидромассажной ванной для 2-4 человек Lay-Z-Spa™ Cancun AirJet™', 'Артикул: 54286', '1 300')
						.slider-navigation


		include ./../sections/_footer.pug

		include ./../sections/_scripts.pug